/* General */
.shadow {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

body {
    background-color: #d3dbf0
}

/* Greeting */

/* Picture of Me */
#headshot {
    height: 300px;
    border-radius: 1000px;
    display: block;
    margin: auto;
}

/* Section Titles */

/* Project Cards */

.project-card {
    transition: background-color 1s;
}

.project-card, .project-card:hover, .project-card:focus, .project-card:active, .repo-link, .repo-link:hover, .repo-link:focus, .repo-link:active {
    text-decoration: none;
    color: inherit;
}

.project-card:hover {
    background-color: rgba(255, 255, 255, .7);
    transition: background-color .2s;
}

.project-card-li {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: auto; /* Remove margins */
    max-width: 700px;
}

.project-card-image {
    width: 100px;
    object-fit: cover;

}

.card-title {
    display: inline;
}

.card-link {
    padding: 2px 5px;
    white-space: nowrap;
    background-color: #54428E;
    border: none;
}

.card-link:hover {
    background-color: #9181C5;
}

.live-link {
    border-left: rgba(0, 0, 0, .25) 1px solid;
}

.contact-card, .bio {
    max-width: 700px;
}

/* Footer */


/* Media Queries */

@media screen and (max-width: 425px) {
    .card-title {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .card-subtitle {
        font-size: .75rem;
    }

    .card-link {
        font-size: .75rem;
    }    

    .project-card-image {
        width: 0px;
    }

    #headshot {
        height: 250px;
    }
  }